.home {
    color: #ffffff;
    font-family: "Afacad Flux", serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
}

.home .title {
    font-weight: 300;
    font-size: 3rem;
}

.container {
    color: #ffecda;
    font-family: "Afacad Flux", serif;
    width: 80%;
    text-transform: lowercase;
    padding-right: 2rem;
    position: relative;
}

.container .description {
    position: absolute;
    top: 0;
    margin: 0;
    z-index: -1;
    font-weight: 300;
    font-size: 1.5rem;
}
