
.resume_class .title {
    font-weight: 300;
    font-size: 3rem;
    color: #ffffff;
    font-family: "Afacad Flux", serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.resume_class {
    padding: 2rem;
}

.container {
    min-height: 5rem;
}

.container .description {
    font-weight: 300;
    font-size: 1.5rem;
    color: #ffecda;
    font-family: "Afacad Flux", serif;
    text-transform: lowercase;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: -1;
}
