.navbar {
    display: flex;
    justify-content:right;
    align-items: center;
    background-color: #201f1f;
    padding: 1rem;
    color: #ffecda;
    font-family: "Afacad Flux", serif;
    font-weight: 5;
    font-size: x-large;
    text-transform: lowercase;
}

.navbar-left .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-left .nav-links li {
    margin-left: 2rem;
}

.navbar-left .nav-links a {
    color: #ffecda;
    text-decoration: none;
}

.navbar-left .nav-links a:hover {
    text-decoration: underline;
}

